
@{
    ViewBag.Title = "newAluno";
}

<h2>newAluno</h2>

<form method="post">

    Nome
    <input type="text" id="txtNome" name="txtNome"/>
    <br />
    Idade
    <input type="text" id="txtIdade" name="txtIdade"/>
    <br/>
    <input type="submit" value="Salvar"/>

</form>