
@{
    ViewBag.Title = "Bone";
}

@section cabecalho{
    <img src="https://static.lojanba.com/produtos/bone-mitchell-&-ness-small-jer-dad-hat-aba-curva/08/C61-1304-008/C61-1304-008_vitrine2.jpg" />
}


<h2>Bone</h2>


@section rodape{
    <img src="https://static.lojanba.com/produtos/bone-mitchell-&-ness-small-jer-dad-hat-aba-curva/08/C61-1304-008/C61-1304-008_vitrine2.jpg" />
}