
@{
    ViewBag.Title = "Meia";
}

@section cabecalho{
    <img src="https://cdnv2.moovin.com.br/sapatoshow/imagens/produtos/lista/meia-basica-sport-lupo-03225089-539848ba2212b631e3b143517c5ce93d.jpg" />
}

<h2>Meia</h2>

@section rodape{
    <img src="https://cdnv2.moovin.com.br/sapatoshow/imagens/produtos/lista/meia-basica-sport-lupo-03225089-539848ba2212b631e3b143517c5ce93d.jpg" />
}