
@{
    ViewBag.Title = "Sapato";
}

@section cabecalho{
    <img src="https://www.modaze.com.br/img/2019/08/produto/7015/1/home/sapato-oxford-moleca-tratorado-preto.jpg" />
}

<h2>Sapato</h2>

@section rodape{
    <img src="https://www.modaze.com.br/img/2019/08/produto/7015/1/home/sapato-oxford-moleca-tratorado-preto.jpg" />
}