@model Atividade1.Models.Noticia
@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar Noticia</h2>

<form method="post">

    ID: @Html.TextBoxFor(x => x.idNoticia)
    <br />
    ID da Categoria: @Html.TextBoxFor(x => x.idCategoria)
    <br />
    Titulo: @Html.TextBoxFor(x => x.Titulo)
    <br />
    Descricao: @Html.TextBoxFor(x => x.Descricao)
    <br />
    <input type="submit" value="Salvar" />

</form>