
@{
    ViewBag.Title = "GerenciarNoticias";
}

<table width="100%">

    <tr>
        <td>@Html.ActionLink("Usuário Normal", "Principal", "Principal")</td>
        <td>@Html.ActionLink("Administrador", "Login", "Principal")</td>
    </tr>

</table>