
@model Aula_MVC.Models.Pessoa
@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>
<hr />
<label>ID: </label>
<p>@Model.idPessoa</p>
<hr />
<label>Nome: </label>
<p>@Model.nome</p>
<hr />
<label>Idade: </label>
<p>@Model.idade</p>